*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'outfit';
}
body{
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 320px;
    height: 497px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;  
}
.qr{
    text-align: center;
    margin-top: 15px;
}
.qr img {
    width: 288px;
    height: 288px;
    border-radius: 15px;
}
.info{
    text-align: center;
    width: 288px;
    margin: 0 auto;
    padding-top: 15px;
}
.info-title{
    font-size: 22px;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}
.info-sub-title{
    padding: 15px 16px 0 16px;
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}
@media(max-width:320px) {
    .container{
        margin: 0 15px;
    }
    .qr img {
        width: 258px;
        height: 288px;
        border-radius: 12px;
    }
    .info{
        width: 268px;
    }
    .info-title{
        font-size: 21px;
    }
    .info-sub-title{
        font-size: 14px;
    }
  }